/* ========================================== Common CSS starts here ========================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

body {
  font-family: var(--font);
}

:root {
  --font: "Poppins", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --grey: #666666;
  --light-grey: hsl(0, 0%, 70%);
}

/* ======================================== Common CSS ends here ========================================= */

/* -/-/-/-/-/-/-/-/-/-/- Main CSS starts here -/-/-/-/-/-/-/-/-/-/- */

.create_page {
  display: flex;
}

.left_part,
.right_part {
  width: 50%;
}

/* Left Part CSS starts here */

.left_part {
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 280px 0;
}

.left_title h1 {
  font-size: 130px;
  line-height: 100px;
  font-weight: var(--medium);
  color: white;
  text-shadow: 0.5px 0.2px 50px var(--grey);
}

/* Left Part CSS ends here */

/* Right Part CSS starts here */

.right_part {
  padding: 160px 125px;
}

.right_title h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: var(--medium);
}

label {
  color: var(--grey);
}

input {
  border: 2px solid var(--light-grey);
  outline: none;
  border-radius: 12px;
  margin-top: 7px;
  padding: 18px 10px;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: var(--medium);
}

input:focus {
  border: 2px solid var(--grey);
}

#main_form {
  margin: 32px 0;
}

.username_form,
.email_form,
.password_form {
  margin: 24px 0;
}

.password_form p {
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
  margin-top: 4px;
}

.terms_policy p {
  color: var(--grey);
}

.terms_policy a {
  color: black;
}

.main_btn {
  margin: 32px 0;
}

#create_btn {
  font-size: 22px;
  line-height: 28px;
  color: white;
  background-color: var(--light-grey);
  border-radius: 32px;
  padding: 16px 26px;
  border: none;
  transition: 0.3s ease;
  text-decoration: none;
}

#create_btn:hover {
  background-color: rgba(0, 114, 17, 0.833);
  cursor: pointer;
}

.log_in p {
  color: var(--grey);
}

.log_in a {
  color: black;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.github i {
  font-size: 25px;
  line-height: 25px;
  margin-right: 5px;
}

.github a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 50px;
  color: rgb(0, 0, 105);
  text-decoration: none;
  transition: 0.2s;
}

.github a:hover {
  color: black;
}

.github a span {
  text-decoration: underline;
}

/* Right Part CSS ends here */

/* -/-/-/-/-/-/-/-/-/-/- Main CSS ends here -/-/-/-/-/-/-/-/-/-/- */

/* ---------- Media Queries ---------- */

/* ========== For screen more than 1400px ========== */
@media only screen and (max-width: 1399px) {
  .left_part {
    padding: 210px 0px;
  }
  .left_title h1 {
    font-size: 110px;
    line-height: 79px;
  }
  .right_part {
    padding: 110px 80px;
  }
}

/* ========== For screen 1024px - 1199px ========== */
@media only screen and (max-width: 1199px) {
  .left_title h1 {
    font-size: 95px;
    line-height: 69px;
  }
  .right_part {
    padding: 70px 53px;
  }
}

/* ========== For screen 768px - 1023px ========== */
@media only screen and (max-width: 1023px) {
  .right_title h2 {
    font-size: 28px;
    line-height: 34px;
  }
  label {
    font-size: 14px;
    line-height: 20px;
  }
  .terms_policy p {
    font-size: 14px;
  }
  #create_btn {
    padding: 10px 18px;
  }
  .log_in p {
    font-size: 14px;
  }
  .left_title h1 {
    font-size: 75px;
    line-height: 60px;
  }
  .left_title h1 {
    font-size: 80px;
  }
}

/* ========== For screen 576px - 767px ========== */
@media only screen and (max-width: 767px) {
  input {
    padding: 10px 10px;
  }
  .right_part {
    padding: 46px 25px;
  }
  .right_title h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .left_title h1 {
    line-height: 48px;
    font-size: 59px;
  }
}

/* ========== For screens less than 576px ========== */
@media only screen and (max-width: 575px) {
  .create_page {
    display: block;
  }
  .left_title h1 {
    line-height: 62px;
    font-size: 85px;
  }

  .left_part,
  .right_part {
    width: 100%;
  }

  .left_part {
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
  }

  .scroll_icon::after {
    content: url(../images/icons8-double-down-50.png);
  }
  .scroll_icon {
    margin-top: 80px;
    animation: scroll 2s ease-in-out infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
